@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

.h1s {
    font-size: 22px;
    padding-left: 20px;
    color:#2784b9;
    text-decoration: underline;
}

body {
    font-family: arial;
    margin: 0;
    padding: 0;
}

* {
    background-color: #0f1a38;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

a, li {
    list-style: none;
    font-size: 18px;
    text-decoration: none;
    color: #9fed86;
    padding-top: 5px;
}

li {
    border: 1.5px solid rgb(87, 89, 201);
    border-radius: 6px;
    border-width: 3px;
    padding: 6px;
    border-spacing: 10px;
    padding-left: 0px;
    padding-right: 25px;
    left: -15px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}
 
#header {
    color: #3ad9a7;
    padding-left: 31%;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

#journey-img {
    padding-left: 33%;
}

.references {
    border: 2px solid #9fed86;
    width: 28em;
    border-radius: 24px;
    padding: 10px;
}

h3 {
    border: 2px solid red;
    color:rgb(202, 63, 44);
    width: 40em;
    border-radius: 18px;
    padding: 10px;
    text-align: center;
}
