* {
    background: #3E4567;
    color: rgb(255, 166, 0);
    text-align: center;
    text-decoration: none;
    font-size: 23px;
}
/*
body {
    background-image: url('https://picsum.photos/1920/1080')
}
*/

* h2 {
    font-size: 32px;
    text-decoration: underline;
    color: #00b894;
}

* a {
    text-decoration: underline;
    font-weight: bold;
}

* li {
    list-style: none;
}

div {
    border: 4px dotted rgb(255, 166, 0);
    border-radius: 20px;
    border-width: 4px;
}

img {
    padding-top: 35px;
}

#home {
    position: absolute;
    top: 260px;
    border: 3px solid rgb(255, 166, 0);
    border-radius: 2px;
    box-shadow: 0 0 10px rgb(219, 223, 18);
    background-color: rgb(111, 0, 255);
}