@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

body {
    background-color: #3E4567;
}

div[class="box"] {
    color: rgba(0, 255, 149, 0.678);
    font-size: 2em;
    display: block;
    margin: 14px;
    padding-left: 10px;
    padding-right: 30px;
    border: 4px solid rgb(55, 137, 231);
    border-radius: 18px;
    justify-content: space-between;
    width: 40%;
    padding-left: 31%;
    position: absolute;
    letter-spacing: 0.05em;
    text-align: center;
    box-sizing: padding-box;
    width: 800px;
    padding-left: 2em;
    user-select: auto;
    cursor: default;
    left: 23%;
    padding-bottom: 20px;
}

h1 {
    font-size: 3em;
    padding: 30px;
    text-decoration: underline;
    color:rgb(55, 137, 231);
    font-family: 'Tangerine', cursive;
    padding-left: 45%;
    padding-bottom: 7px;
}

.nextkap {
    position: sticky;
    color: rgb(55, 137, 231);
    border: 4px solid rgb(55, 137, 231);
    border-radius: 12px;
    padding: 5px;
    padding-top: 8px;
    background: #00B389;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 4px 4px #00B389;
}

a[class="home"] {
    text-decoration: none;
    color: #00B389;
    border: 3px solid #00B389;
    border-radius: 12px;
    padding: 10px;
    background: rgb(55, 137, 231);
}

.navbar {
    align-items: left;
    font-size: 16px;
    display: inline-block;
    width: 230px;
    height: 450px;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.navbar a {
    color: #000;
    text-transform: uppercase;
    padding: 30px;
    margin: 10px;
    text-align: left;
}

#nav {
    border: 4px solid #00B389;
    border-radius: 16px;
    background-color: rgb(130, 61, 194);
    margin: 5px;
}

nav ul {
    list-style: none;
}